* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 20px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}

.box {
    margin: 10px;
    border: 2px solid black;
    background-color: slategrey;
    box-sizing: border-box;
}

p {
    width: 95%;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    clear: right;
    margin-left: auto;
    margin-right: auto;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.smallHeading {
    position: relative;
    top: -2px;
    right: -1px;
    border: 2px solid black;
    padding: 3px 15px;
    float: right;
}

#heading1 {
    background-color: aqua;
}

#heading2 {
    background-color: blueviolet;
}

#heading3 {
    background-color: tomato;
}

/* ========Large device only========= */
@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 31.3%;
    }
}

/* ========Medium device only========= */
@media (min-width:768px) and (max-width: 991px) {

    .col-md-6, .col-md-12 {
        float: left;
    }

    .col-md-6 {
        width: 47%;
    }

    .col-md-12 {
        width: 96.4%;
    }
}


/* ========Mobile devices========= */
@media (max-width: 767px) {
    .col-sm-12 {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }

}